Repository Blackstone-SS13/BLACKSTONE, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Takyon69, @ChungusGamer666, @NGGJamie

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners

/icons @Takyon69
/code/modules/jobs/job_types @ChungusGamer666
/code/modules/mob/living/carbon/human @ChungusGamer666
/code/modules/mob/living/carbon/spirit @NGGJamie
/code/modules/underworld @NGGJamie

Update crossbows.dm
  code/game/objects/items/rogueweapons/ranged/crossbows.dm
Owners: none

lore
  code/__DEFINES/traits.dm
  code/datums/gods/_patron.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/game/objects/effects/glowshroom.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mob/living/stats.dm
Owners: none

uma delicia
  code/__DEFINES/traits.dm
  code/datums/gods/patrons/divine_pantheon.dm
  code/datums/status_effects/rogue/debuff.dm
  code/modules/mob/living/stats.dm
Owners: none

steel pickaxe
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/roguetown/roguejobs/miner/tools.dm
Owners: none

gragGODS
  code/__DEFINES/traits.dm
  code/datums/gods/patrons/inhumen_pantheon.dm
  code/modules/roguetown/roguejobs/alchemist/reagents.dm
  code/modules/surgery/organs/organ_internal.dm
Owners: none

Path
  code/modules/jobs/job_types/roguetown/church/priest.dm
Owners: @ChungusGamer666

GAAAAAAAAH
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/serfs/archivist.dm
Owners: @ChungusGamer666

Path
  code/modules/jobs/job_types/roguetown/serfs/archivist.dm
Owners: @ChungusGamer666

this was actually really easy lmao
  code/_onclick/hud/screen_objects.dm
  code/datums/components/crafting/crafting.dm
  code/datums/mind.dm
Owners: none

peak
  code/modules/clothing/rogueclothes/hats.dm
  icons/roguetown/clothing/onmob/head.dmi
Owners: @Takyon69

visualsonly check... im dumb man
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
Owners: @ChungusGamer666

Update head.dmi
  icons/roguetown/clothing/head.dmi
Owners: @Takyon69

pot
  _maps/map_files/blackstone/blackstone.dmm
Owners: none

Update councillor.dm
  code/modules/jobs/job_types/roguetown/nobility/councillor.dm
Owners: @ChungusGamer666

mystery of the disappearing king
  code/game/gamemodes/roguetown/roguetown.dm
Owners: none

Update sheriff.dm
  code/modules/jobs/job_types/roguetown/nobility/sheriff.dm
Owners: @ChungusGamer666

idk lol
  code/game/gamemodes/roguetown/roguetown.dm
Owners: none

mo comments
  code/game/gamemodes/roguetown/roguetown.dm
Owners: none

mo comments
  code/game/gamemodes/roguetown/roguetown.dm
Owners: none

emoney doesn't want rebel knights
  code/modules/jobs/jobs.dm
Owners: none

mo comments
  code/game/gamemodes/roguetown/roguetown.dm
Owners: none

combat music and gloves
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/vaquero.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/nobility/sheriff.dm
  code/modules/jobs/job_types/roguetown/peasants/jester.dm
Owners: @ChungusGamer666

Update priority_announce.dm
  code/__HELPERS/priority_announce.dm
Owners: none

Update goblinking.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinking.dm
Owners: @ChungusGamer666

Update snacks.dm
  code/modules/food_and_drinks/food/snacks.dm
Owners: none

Update human_defines.dm
  code/modules/mob/living/carbon/human/human_defines.dm
Owners: @ChungusGamer666

Update human.dm
  code/modules/mob/living/carbon/human/human.dm
Owners: @ChungusGamer666

Update goblinp.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/goblin/goblinp.dm
Owners: @ChungusGamer666

Update examine.dm
  code/modules/mob/living/carbon/human/examine.dm
Owners: @ChungusGamer666

Update aspirant.dm
  code/modules/antagonists/roguetown/villain/aspirant.dm
Owners: none

Update peasantrebel.dm
  code/modules/antagonists/roguetown/villain/peasantrebel.dm
Owners: none

Update roguetown.dm
  code/game/gamemodes/roguetown/roguetown.dm
Owners: none

Update goblinking.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinking.dm
Owners: @ChungusGamer666

Update goblinguard.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinguard.dm
Owners: @ChungusGamer666

whole lotta nothing
  code/game/gamemodes/roguetown/vampirecourt.dm
  code/modules/jobs/job_types/vampirecourt/inquisition/placeholder.txt
  code/modules/jobs/job_types/vampirecourt/thralls/vampire_manorguard.dm
  code/modules/jobs/job_types/vampirecourt/vampires/vampireking.dm
  roguetown.dme
Owners: @ChungusGamer666

Create vampirecourt.dm
  code/game/gamemodes/roguetown/vampirecourt.dm
Owners: none

Update roguetown.dme
  roguetown.dme
Owners: none

restart from scratch
  code/game/gamemodes/roguetown/vampirecourt.dm
  code/modules/jobs/job_types/vampirecourt/inquisition/placeholder.txt
  code/modules/jobs/job_types/vampirecourt/thralls/vampire_manorguard.dm
  code/modules/jobs/job_types/vampirecourt/vampires/vampireking.dm
  roguetown.dme
Owners: @ChungusGamer666

Update stats.dm
  code/modules/mob/living/stats.dm
Owners: none
