Repository Blackstone-SS13/BLACKSTONE, changes with the labels that .github/labeler.yml gives for each.
All labels: Spriting, Mapping, documentation, Balance

mild acolyte buff
  code/modules/jobs/job_types/roguetown/church/monk.dm
Labels: Balance

winding sheet 2 cloth now
  code/modules/roguetown/roguecrafting/sewing.dm
Labels: none

Allows you to dig up sticks instead of stones near trees
  code/modules/roguetown/roguejobs/gravedigger/hole.dm
Labels: none

further rationalisation
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/_anvil_recipe.dm
Labels: none

changing constant
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/_anvil_recipe.dm
Labels: none

decreasing skill gain
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/_anvil_recipe.dm
Labels: none

Coffins & Winding Sheets
  code/modules/roguetown/roguecrafting/sewing.dm
  code/modules/roguetown/roguecrafting/structure.dm
Labels: none

Stone Digging!
  code/modules/roguetown/roguejobs/gravedigger/hole.dm
Labels: none

Apply suggestions from code review
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/_anvil_recipe.dm
Labels: none

bye coffin meta
  code/game/objects/structures/crates_lockers/crates.dm
Labels: none

back to iron
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/surgery/surgery_tools_rogue.dm
Labels: none

more stuff to craft
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halfelf.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/roguetown/roguejobs/cook/recipes/misc.dm
  icons/roguetown/misc/structure.dmi
Labels: Spriting

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Evil jester outfit sprites and minor palette changes to other icons.
  icons/roguetown/clothing/feet.dmi
  icons/roguetown/clothing/gloves.dmi
  icons/roguetown/clothing/head.dmi
  icons/roguetown/clothing/onmob/shirts.dmi
Labels: Spriting

Create MountainKeep.dmm
  _maps/map_files/mountainKeep/MountainKeep.dmm
Labels: Mapping

Fixes issues where bodypart miracle gives the wrong limb type to the species, causing clothes to not properly fit on the sprite.
  code/modules/spells/roguetown/acolyte/pestra.dm
Labels: none

oops.dm
  code/modules/spells/roguetown/acolyte/pestra.dm
Labels: none

Bugfix - only uses up 1 limb per missing now.dm
  code/modules/spells/roguetown/acolyte/pestra.dm
Labels: none

Update MountainKeep.dmm
  _maps/map_files/mountainKeep/MountainKeep.dmm
Labels: Mapping

ACTUAL bugfix (fml).dm
  code/modules/spells/roguetown/acolyte/pestra.dm
Labels: none

Removes extra proc and replaces it with a for loop.dm
  code/modules/spells/roguetown/acolyte/pestra.dm
Labels: none

Apply suggestions from code review
  code/modules/spells/roguetown/acolyte/pestra.dm
Labels: none

map fixes
  _maps/map_files/mountainKeep/MountainKeep.dmm
  _maps/map_files/mountainKeep/MountainKeep/MountainKeep.dm
  _maps/map_files/mountainKeep/MountainKeep/MountainKeep.dme
  roguetown.dme
Labels: Mapping

fixes
  _maps/map_files/mountainKeep/MountainKeep/MountainKeep.dm
  _maps/map_files/mountainKeep/MountainKeep/MountainKeep.dme
  roguetown.dme
Labels: Mapping

.dm and .json
  _maps/mountainkeep.dm
  _maps/mountainkeep.json
Labels: Mapping

include file mountainkeep.dm
  _maps/map_files/mountainKeep/MountainKeep.dmm
  roguetown.dme
Labels: Mapping

fixes some spawns
  _maps/map_files/mountainKeep/MountainKeep.dmm
Labels: Mapping

Alchemy fixed
  code/modules/roguetown/roguecrafting/alchemy.dm
Labels: none

.github/labeler.yml:

Spriting:
- changed-files:
  - any-glob-to-any-file: icons/**

Mapping:
- changed-files:
  - any-glob-to-any-file: _maps/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - .github/**
    - README.md**

Balance:
- changed-files:
  - any-glob-to-any-file:
    - code/modules/jobs/job_types/roguetown/**
