Repository Blackstone-SS13/BLACKSTONE, changes with the labels that .github/labeler.yml gives for each.
All labels: Spriting, Mapping, documentation, Balance

.github/labeler.yml:

Spriting:
- changed-files:
  - any-glob-to-any-file: icons/**

Mapping:
- changed-files:
  - any-glob-to-any-file: _maps/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - .github/**
    - README.md**

Balance:
- changed-files:
  - any-glob-to-any-file:
    - code/modules/jobs/job_types/roguetown/**

fixes a bug where needles can't be rethreaded
  code/game/objects/items/rogueitems/needle.dm
Labels: none

Nite-Elf
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfd.dm
Labels: none

Elflore
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfs.dm
Labels: none

bug fixes
  code/controllers/subsystem/rogue/role_class_handler/drifter_queue/drifter_waves/bandit_wave.dm
  code/datums/wounds/types/special.dm
  code/game/objects/structures/guillotine.dm
  code/game/objects/structures/walldeco.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/roguetown/villain/bandit.dm
  code/modules/antagonists/roguetown/villain/choosename.dm
  code/modules/antagonists/roguetown/villain/werewolf/werewolf.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/status_procs.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/reagent_containers/powderspice.dm
  code/modules/roguetown/roguemachine/bounty.dm
Labels: none

Update code/game/objects/items/rogueitems/needle.dm
  code/game/objects/items/rogueitems/needle.dm
Labels: none

Update code/game/objects/items/rogueitems/literary.dm
  code/game/objects/items/rogueitems/literary.dm
Labels: none

some tweaks and some memes
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/roguetown/roguecrafting/items.dm
  code/modules/roguetown/roguejobs/fisher/fish.dm
  code/modules/roguetown/roguejobs/fisher/rod.dm
  icons/roguetown/hud/fishingmeme.dmi
Labels: Spriting

Custom key naming fix
  code/game/objects/items/rogueitems/keys.dm
Labels: none

emergency fix (i am a moron)
  code/modules/roguetown/roguejobs/fisher/rod.dm
Labels: none

Update _character_flaw.dm
  code/datums/character_flaw/_character_flaw.dm
Labels: none

Update limbloss.dm
  code/datums/character_flaw/limbloss.dm
Labels: none

Update addiction.dm
  code/datums/character_flaw/addiction.dm
Labels: none

Update limbloss.dm
  code/datums/character_flaw/limbloss.dm
Labels: none

idk maybe i fat fingered it
  code/datums/character_flaw/limbloss.dm
Labels: none

Update clerk.dm
  code/modules/jobs/job_types/roguetown/youngfolk/clerk.dm
Labels: Balance

Update clerk.dm
  code/modules/jobs/job_types/roguetown/youngfolk/clerk.dm
Labels: Balance

holy fucking powercreep batman
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
Labels: Balance

typo lol
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
Labels: Balance

orphan nerf (removes the word kid too)
  code/modules/jobs/job_types/roguetown/youngfolk/orphan.dm
Labels: Balance

by FAR my most controversial change (pls guys lol)
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
Labels: Balance

squire fix 1
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
Labels: Balance

squire balance
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
Labels: Balance

stat fixes
  code/modules/jobs/job_types/roguetown/youngfolk/smith_apprentice.dm
Labels: Balance

fixes random bullshit issues in steward lol
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
Labels: Balance

Noble "Blooded" Rewording
  code/__DEFINES/traits.dm
Labels: none

best possible wording my brain can muster
  code/modules/jobs/job_types/roguetown/youngfolk/orphan.dm
Labels: Balance

Flaw Clarification
  code/datums/character_flaw/_character_flaw.dm
  code/datums/character_flaw/addiction.dm
  code/datums/character_flaw/limbloss.dm
Labels: none

typo
  code/modules/jobs/job_types/roguetown/youngfolk/orphan.dm
Labels: Balance

whoever made all these kids hella op is silly
  code/modules/jobs/job_types/roguetown/youngfolk/churchling.dm
Labels: Balance

higher pq req
  code/modules/jobs/job_types/roguetown/youngfolk/clerk.dm
Labels: Balance

little bit more PQ needed to be prince (shitter role)
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
Labels: Balance

why -10
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
Labels: Balance

pq leeway
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
Labels: Balance

servant buff
  code/modules/jobs/job_types/roguetown/youngfolk/servant.dm
Labels: Balance

removed fortune cause why did i do that
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
Labels: Balance

extreme bloat reduction
  code/modules/jobs/job_types/roguetown/youngfolk/servant.dm
Labels: Balance

weird that it was 2 slots
  code/modules/jobs/job_types/roguetown/youngfolk/smith_apprentice.dm
Labels: Balance

1 shophand
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
Labels: Balance

8 slots to 4
  code/modules/jobs/job_types/roguetown/youngfolk/orphan.dm
Labels: Balance

Update food.dm
  code/modules/cargo/packsrogue/food.dm
Labels: none
