Repository Blackstone-SS13/BLACKSTONE, changes with the labels that .github/labeler.yml gives for each.
All labels: Spriting, Mapping, documentation, Balance

.github/labeler.yml:

Spriting:
- changed-files:
  - any-glob-to-any-file: icons/**

Mapping:
- changed-files:
  - any-glob-to-any-file: _maps/**

documentation:
- changed-files:
  - any-glob-to-any-file:
    - .github/**
    - README.md**

Balance:
- changed-files:
  - any-glob-to-any-file:
    - code/modules/jobs/job_types/roguetown/**

Further Rationalisation
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/_anvil_recipe.dm
Labels: none

Update apparel.dm
  code/modules/cargo/packsrogue/apparel.dm
Labels: none

Update armor.dm
  code/modules/cargo/packsrogue/armor.dm
Labels: none

Update food.dm
  code/modules/cargo/packsrogue/food.dm
Labels: none

Update luxury.dm
  code/modules/cargo/packsrogue/luxury.dm
Labels: none

Update seeds.dm
  code/modules/cargo/packsrogue/seeds.dm
Labels: none

Update tools.dm
  code/modules/cargo/packsrogue/tools.dm
Labels: none

Update weapons.dm
  code/modules/cargo/packsrogue/weapons.dm
Labels: none

some changes to make fishing easier
  code/modules/roguetown/roguejobs/fisher/rod.dm
Labels: none

leather trousers
  code/modules/cargo/packsrogue/apparel.dm
Labels: none

Fixes fuckup with leather trouser addition whoops
  code/modules/cargo/packsrogue/apparel.dm
Labels: none

Adds shirt + one more unretardation
  code/modules/cargo/packsrogue/apparel.dm
Labels: none

whoops
  code/modules/roguetown/roguejobs/fisher/rod.dm
Labels: none

Guh
  code/modules/cargo/packsrogue/apparel.dm
Labels: none

Update apparel.dm
  code/modules/cargo/packsrogue/apparel.dm
Labels: none

Gives merchant a rapier for self defense
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
Labels: Balance

Update bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
Labels: Balance

Update bogmaster.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
Labels: Balance

Update councillor.dm
  code/modules/jobs/job_types/roguetown/courtier/councillor.dm
Labels: Balance

Adds filled quiver options
  code/modules/cargo/packsrogue/weapons.dm
Labels: none

Add files via upload
  _maps/map_files/blackstone/blackstone.dmm
Labels: Mapping

tile-based fishlist wasnt working
  code/modules/roguetown/roguejobs/fisher/rod.dm
Labels: none

Update rod.dm
  code/modules/roguetown/roguejobs/fisher/rod.dm
Labels: none

merchant building changes
  _maps/map_files/blackstone/blackstone.dmm
Labels: Mapping

Apple export/import increased to 10 from 5
  code/modules/roguetown/roguestock/stockpile.dm
Labels: none

Update grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/mercenaries/grenzelhoft.dm
Labels: Balance

Update grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/mercenaries/grenzelhoft.dm
Labels: Balance

Update laws_of_the_land.json
  strings/laws_of_the_land.json
Labels: none

soilson lighting patch
  _maps/map_files/blackstone/blackstone.dmm
Labels: Mapping

fixes a bug where needles can't be refilled
  code/game/objects/items/rogueitems/needle.dm
Labels: none

fix kick
  code/_onclick/other_mobs.dm
Labels: none

Alchemy Terrorism Fix oopys
  code/modules/roguetown/roguecrafting/alchemy.dm
Labels: none

sloppy alchemy fixes
  code/modules/roguetown/roguecrafting/alchemy.dm
Labels: none

TEST FIX
  code/modules/roguetown/roguecrafting/alchemy.dm
Labels: none

ok ready to test
  code/modules/roguetown/roguecrafting/alchemy.dm
Labels: none

undo
  code/modules/roguetown/roguecrafting/alchemy.dm
Labels: none

keyring fixes + satchel
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
Labels: Balance

imports multi-item fix for goldface bulk orders from rotwood
  code/modules/roguetown/roguemachine/merchant.dm
Labels: none

Adds backpack, slight price changes
  code/modules/cargo/packsrogue/apparel.dm
Labels: none

spacing
  code/modules/cargo/packsrogue/food.dm
Labels: none
