Repository Blackstone-SS13/BLACKSTONE, pull requests merged in 2024-04, with the labels that each got.

#228 Stops the Balloon From Selling Mammons
  code/modules/roguetown/roguemachine/merchant.dm
Labels: bug

#238 Allows shylocks to dispense single coins again
  .gitignore
  code/modules/roguetown/roguemachine/money.dm
Labels: bug

#236 bog guards DO NOT MERGE I WILL MERGE WHEN ITS DONE
  _maps/map_files/oldtown/otherz/smalldecap.dmm
  _maps/map_files/oldtown/otherz/smallforest.dmm
  _maps/map_files/oldtown/otherz/smallforest.json
  _maps/map_files/oldtown/otherz/smallswamp.dmm
  _maps/map_files/otherz/old/otherz.dmm
  _maps/map_files/otherz/old/otherz.json
  _maps/map_files/otherz/rogueworld.dmm
  _maps/map_files/otherz/rogueworld.json
  _maps/map_files/otherz/smalldecap.dmm
  _maps/map_files/otherz/smalldecap.json
  _maps/map_files/otherz/smallforest.dmm
  _maps/map_files/otherz/smallforest.json
  _maps/map_files/otherz/smallswamp.dmm
  _maps/map_files/otherz/smallswamp.json
  _maps/map_files/otherz/underworld.dmm
  _maps/map_files/otherz/underworld.json
  _maps/map_files/otherz/violence.dmm
  _maps/map_files/roguetown/otherz/old/otherz.dmm
  _maps/map_files/roguetown/otherz/old/otherz.json
  _maps/map_files/roguetown/otherz/rogueworld.dmm
  _maps/map_files/roguetown/otherz/rogueworld.json
  _maps/map_files/roguetown/otherz/smalldecap.dmm
  _maps/map_files/roguetown/otherz/smalldecap.json
  _maps/map_files/roguetown/otherz/smallforest.dmm
  _maps/map_files/roguetown/otherz/smallforest.json
  _maps/map_files/roguetown/otherz/smallswamp.dmm
  _maps/map_files/roguetown/otherz/smallswamp.json
  _maps/map_files/roguetown/otherz/underworld.dmm
  _maps/map_files/roguetown/otherz/underworld.json
  _maps/map_files/roguetown/otherz/violence.dmm
  _maps/map_files/roguetown2/otherz/old/otherz.dmm
  _maps/map_files/roguetown2/otherz/old/otherz.json
  _maps/map_files/roguetown2/otherz/rogueworld.dmm
  _maps/map_files/roguetown2/otherz/rogueworld.json
  _maps/map_files/roguetown2/otherz/smalldecap.json
  _maps/map_files/roguetown2/otherz/smallforest.dmm
  _maps/map_files/roguetown2/otherz/smallforest.json
  _maps/map_files/roguetown2/otherz/smallswamp.json
  _maps/map_files/roguetown2/otherz/underworld.dmm
  _maps/map_files/roguetown2/otherz/underworld.json
  _maps/map_files/roguetown2/otherz/violence.dmm
  _maps/map_files/roguetown2/roguetown2.dmm
  code/__DEFINES/colors.dm
  code/__DEFINES/jobs.dm
  code/controllers/subsystem/mapping.dm
  code/game/gamemodes/roguetown/roguetown.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueitems/books.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/jobs.dm
  roguetown.dme
Labels: DO NOT MERGE

#239 improves smithing
  code/game/objects/items.dm
  code/game/objects/items/rogueweapons/melee/blunt.dm
  code/game/objects/items/rogueweapons/melee/flail.dm
  code/game/objects/items/rogueweapons/melee/knives.dm
  code/game/objects/items/rogueweapons/melee/polearms.dm
  code/game/objects/items/rogueweapons/melee/swords.dm
  code/game/objects/items/rogueweapons/ranged/crossbows.dm
  code/game/objects/items/rogueweapons/shields.dm
  code/game/objects/objs.dm
  code/game/objects/structures.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/npc/goblin.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/clothing/rogueclothes/wrists.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/_anvil_recipe.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/valuables.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  code/modules/roguetown/roguejobs/blacksmith/tools.dm
Labels: DO NOT MERGE

#305 Stop Bank Account Collisions
  code/game/objects/items/rogueweapons/melee/special.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/roguetown/roguemachine/ATM.dm
  code/modules/roguetown/roguemachine/drugmachine.dm
  code/modules/roguetown/roguemachine/steward.dm
  code/modules/roguetown/roguemachine/submission.dm
Labels: bug

#342 Admin QOL Part 1
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/playerquality.dm
Labels: QOL

#328 graveyard remodel
  _maps/map_files/roguetown2/roguetown2.dmm
Labels: Test Merged

#372 Mercenary Rework: Introducing Grenzelhoft
  _maps/map_files/otherz/smallforest.dmm
  _maps/map_files/roguetown2/roguetown2.dmm
  code/__DEFINES/jobs.dm
  code/game/objects/effects/landmarks.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/mercenaries/desert_rider/desertrider.dm
  code/modules/jobs/job_types/roguetown/mercenaries/grenzelhoft/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/nobility/sheriff.dm
  code/modules/jobs/job_types/roguetown/other/tester.dm
  code/modules/jobs/job_types/roguetown/roguetown.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/dead/new_player/new_player.dm
  roguetown.dme
Labels: Test Merged

#410 Bailiff additions and sheriff changes
  code/__DEFINES/jobs.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/councillor.dm
  code/modules/jobs/job_types/roguetown/nobility/sheriff.dm
  code/modules/jobs/jobs.dm
  code/modules/shuttle/supply.dm
  icons/roguetown/clothing/onmob/feet.dmi
  roguetown.dme
Labels: DO NOT MERGE
