Repository Blackstone-SS13/BLACKSTONE, pull requests merged in 2024-06, with the labels that each got.

#1140 Deletes the gobbo fort and puts it on its own map
  GobboFort.dmm
  _maps/map_files/blackstone/blackstone.dmm
Labels: Mapping

#1223 New bandit hideout location
  _maps/map_files/blackstone/blackstone.dmm
Labels: Mapping

#1143 More keys and drip. +assorted map fixes
  _maps/map_files/blackstone/blackstone.dmm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
Labels: Mapping

#1240 Fix-A-House. Adds new buildings to the right of the merchent building replacing an old one.
  _maps/map_files/blackstone/blackstone.dmm
Labels: Mapping

#1246 Cookhouse Removal.
  _maps/map_files/blackstone/blackstone.dmm
Labels: Mapping

#1249 Introduces the New Smithing / Guild Shop. Also Updates the Fight Pit.
  _maps/map_files/blackstone/blackstone.dmm
Labels: Mapping

#1216 automatic merge conflict labeling
  .github/workflows/label_merge_conflicts.yml
Labels: hallowed

#1217 Creates the (Towner) Doctor (for males)
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/doctor
Labels: hallowed

#1280 Rename doctor to doctor.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/doctor.dm
Labels: Balance

#1285 Enable some of the unabled and empty rare pilgrims
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/carpenter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lcarp.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lmason.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lwoodcut.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/woodcutter.dm
Labels: Balance

#1282 Towner Role Update
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/drunkard.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/minstrel.dm
Labels: Balance

#1291 beggar combat music
  code/__DEFINES/jobs.dm
  code/modules/jobs/job_types/roguetown/peasants/beggar.dm
  code/modules/jobs/job_types/roguetown/peasants/lunatic.dm
  code/modules/jobs/job_types/roguetown/peasants/prisoner.dm
  code/modules/jobs/job_types/roguetown/yeomen/alchemist.dm
  code/modules/jobs/job_types/roguetown/yeomen/apothecary.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/yeomen/barkeep.dm
  code/modules/jobs/job_types/roguetown/yeomen/blacksmith.dm
  code/modules/jobs/job_types/roguetown/yeomen/mason.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/jobs/job_types/roguetown/yeomen/scribe.dm
  code/modules/jobs/job_types/roguetown/yeomen/tailor.dm
  code/modules/jobs/job_types/roguetown/youngfolk/orphan.dm
  roguetown.dme
  sound/music/combat_bum.ogg
  sound/music/credits.txt
Labels: Balance

#1293 Lore accurate dark elves
  code/__DEFINES/jobs.dm
  code/modules/client/preferences.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/adventurer/adventurer.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/_advclass.dm
  code/modules/jobs/job_types/roguetown/roguetown.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfd.dm
Labels: Balance

#1296 adds dark elf to seamstress so delf males can be it later lol
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/seamstress.dm
Labels: Balance

#1295 actual hat for doctor moment
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/towndoctor.dm
Labels: Balance

#1309 Minor manor changes
  _maps/map_files/blackstone/blackstone.dmm
Labels: Mapping

#1311 Arrow/bolt AP
  code/game/objects/items/rogueweapons/ranged/ammo.dm
Labels: APPROVED

#1315 Update blackstone.dmm
  _maps/map_files/blackstone/blackstone.dmm
Labels: Mapping

#1325 Vault strengthening
  _maps/map_files/blackstone/blackstone.dmm
Labels: Mapping

#1313 Bogmaster "nerf"
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
Labels: Balance

#1326 Restricts separated bogtown to 100 players, map rotation at roundend
  _maps/blackstonedense.dm
  _maps/blackstonedense.json
  _maps/map_files/blackstonedense/blackstonedense.dmm
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/vote.dm
  code/rt.dm
  config/maps.txt
Labels: Mapping

#1337 Accomplished Physician trait for Court Physician and Barber Surgeon; Refillable needles
  code/__DEFINES/traits.dm
  code/game/objects/items/rogueitems/needle.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/towndoctor.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
Labels: Balance

#1343 New-ish low-pop map, yay.
  _maps/map_files/oldtown/oldtown.dmm
  code/game/objects/effects/landmarks.dm
Labels: Mapping

#1351 Disables dungeon spawns
  _maps/map_files/blackstone/blackstone.dmm
Labels: Mapping

#1354 Gatemastergods!!!
  _maps/map_files/blackstone/blackstone.dmm
Labels: Mapping, hallowed

#1344 Adds non-clerical version of Diagnose spell to Doctors/Court Physician
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/towndoctor.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/spells/roguetown/acolyte/pestra.dm
Labels: Balance

#1357 fixes my fuck up
  _maps/map_files/blackstone/blackstone.dmm
Labels: Mapping

#1359 manor gate hotfix
  _maps/map_files/blackstone/blackstone.dmm
Labels: Mapping

#1339 Restricts separated bogtown to 100 players, map rotation at roundend. Again.
  _maps/blackstonedense.dm
  _maps/blackstonedense.json
  _maps/map_files/blackstonedense/blackstonedense.dmm
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/vote.dm
  code/rt.dm
  config/maps.txt
Labels: Mapping

#1360 Removes accomplished physician
  code/__DEFINES/traits.dm
  code/game/objects/items/rogueitems/needle.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/towndoctor.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
Labels: Balance

#1365 Adds Prince (and the other one) to latejoin
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
Labels: Balance

#1368 Fixes Merge Conflict Detection
  .github/workflows/label_merge_conflicts.yml
Labels: documentation

#1310 Alchemy (chungus merg)
  code/datums/skills/misc.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/cleric.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/dbomb.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/mage.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/sorceress.dm
  code/modules/jobs/job_types/roguetown/church/druid.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/courtier/magician.dm
  code/modules/jobs/job_types/roguetown/courtier/physician.dm
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
  code/modules/jobs/job_types/roguetown/yeomen/alchemist.dm
  code/modules/jobs/job_types/roguetown/yeomen/archivist.dm
  code/modules/jobs/job_types/roguetown/yeomen/merchant.dm
  code/modules/roguetown/roguecrafting/alchemy.dm
Labels: Balance

#1300 Tiny Desert Rider Changes (Drip Buff, Riding 2, mostly for fun.)
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/jobs/job_types/roguetown/mercenaries/desertrider.dm
Labels: Balance

#1361 Adds oldtown to map rotation
  _maps/oldtown.json
  config/maps.txt
Labels: Mapping

#1369 Readds some adventurers and pilgrims roles
  code/modules/jobs/job_types/roguetown/adventurer/adventurer.dm
  code/modules/jobs/job_types/roguetown/adventurer/pilgrim.dm
Labels: Balance

#1371 Disables Drifter Queue, Adds PQ slot bonus route
  code/controllers/subsystem/rogue/role_class_handler/class_select_handler/class_select_handler.dm
  code/controllers/subsystem/rogue/role_class_handler/drifter_queue/drifter_queue.dm
  code/controllers/subsystem/rogue/role_class_handler/role_class_handler.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/adventurer/adventurer.dm
  code/modules/jobs/job_types/roguetown/adventurer/pilgrim.dm
Labels: Balance

#1381 pq boost divider fix
  code/controllers/subsystem/rogue/role_class_handler/class_select_handler/class_select_handler.dm
  code/modules/jobs/job_types/roguetown/adventurer/pilgrim.dm
Labels: Balance

#1385 Disables Drifter Queue MK2
  code/controllers/subsystem/rogue/role_class_handler/drifter_queue/drifter_queue.dm
  code/modules/jobs/job_types/roguetown/adventurer/adventurer.dm
Labels: Balance

#1379 Bogtown movement (no fort walls anymore)
  _maps/map_files/blackstone/blackstone.dmm
  _maps/map_files/templates/sewers/sewers_topleft_3.dmm
Labels: Mapping, Test Merged
