Repository Blackstone-SS13/BLACKSTONE, pull requests merged in 2024-05, with the labels that each got.

#536 New Bog Map
  _maps/map_files/otherz/bog.dmm
  _maps/map_files/otherz/bog.json
  _maps/map_files/otherz/smallforest.dmm
  _maps/map_files/roguetown2/roguetown2.dmm
  code/controllers/subsystem/mapping.dm
  code/game/area/roguetownareas.dm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/villagechief.dm
  code/modules/roguetown/mapgen/bog.dm
  icons/turf/roguefloor.dmi
Labels: Mapping

#492 Nerfs tree buoyancy (they are now heavier than air, airship engineers in shambles)
  code/game/objects/structures/roguetown/newtree.dm
Labels: Test Merged

#528 Numpad targeting
  code/datums/keybinding/mob.dm
  code/modules/mob/mob_movement.dm
Labels: Test Merged

#544 Vault Economy Tweaks
  code/controllers/subsystem/rogue/treasury.dm
Labels: Test Merged

#558 Adds the loom
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/roguetown/roguejobs/tailor/loom.dm
  icons/roguetown/misc/structure.dmi
  roguetown.dme
Labels: Test Merged

#562 removes dwarf accent for now
  code/modules/mob/living/carbon/human/species_types/roguetown/dwarf/dwarfm.dm
Labels: Test Merged

#565 Adds arrows recipe
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
Labels: Test Merged

#542 Wrestling changes and fix
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
Labels: Test Merged

#563 enables russian accent for wood elves
  code/modules/mob/living/carbon/human/species_types/roguetown/elf/elfs.dm
Labels: Test Merged

#585 Log pickpocket attempts, tell players PQ reqs for roles
  code/_onclick/other_mobs.dm
  code/modules/client/preferences.dm
Labels: Test Merged

#566 +BogInn -BogSmith and bogtown+river tweaks AND NEW ZOMBIE SOUNDS
  _maps/map_files/otherz/bog.dmm
  _maps/map_files/roguetown2/roguetown2.dmm
  code/game/objects/items/rogueitems/keyrings.dm
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/structures/fluff.dm
Labels: Mapping, Test Merged

#555 two new church windows
  code/game/objects/structures/roguewindow.dm
  icons/roguetown/misc/structure.dmi
Labels: Test Merged

#599 unhardcodes lobby music
  .gitignore
  code/controllers/subsystem/ticker.dm
  config/title_music/sounds/title1.ogg
  strings/round_start_sounds.txt
Labels: Test Merged

#578 Bandit goal/reward overhaul
  code/game/objects/structures/fluff.dm
  code/modules/antagonists/roguetown/villain/bandit.dm
Labels: Test Merged

#596 PQ tweaks, raise king much higher, lower some other roles
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/garrison/dungeoneer.dm
  code/modules/jobs/job_types/roguetown/garrison/gatemaster.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/councillor.dm
  code/modules/jobs/job_types/roguetown/nobility/knight.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/job_types/roguetown/nobility/sheriff.dm
  code/modules/jobs/job_types/roguetown/serfs/archivist.dm
Labels: Test Merged

#580 Bandit Variety
  code/modules/antagonists/roguetown/villain/bandit.dm
Labels: Test Merged

#597 now there is alert for commend and also you can commend midround too
  code/__HELPERS/roundend.dm
  code/modules/client/client_procs.dm
  interface/interface.dm
Labels: Test Merged

#656 Might fix day/night cycles
  _maps/map_files/blackstone/blackstone.dmm
  _maps/map_files/otherz/bog.dmm
  _maps/map_files/roguetown2/roguetown2.dmm
Labels: Test Merged

#667 Makes prisoner roundstart only to fix them latejoining on the boat outside cells
  code/modules/jobs/job_types/roguetown/peasants/prisoner.dm
Labels: Test Merged

#668 BUCKLER!!
  code/game/objects/items/rogueweapons/shields.dm
  code/modules/mob/living/roguetownprocs.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
  icons/roguetown/weapons/32.dmi
Labels: Test Merged

#648 Moves steward into the castle, opens old steward area into a market area
  _maps/map_files/roguetown2/roguetown2.dmm
Labels: Test Merged

#680 adds custom locks
  code/game/objects/items/rogueitems/keys.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/roguetown/roguecrafting/structure.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
Labels: Test Merged

#697 Blackstone map
  _maps/blackstone.dm
  _maps/blackstone.json
  _maps/map_files/blackstone/blackstone.dmm
  code/controllers/subsystem/mapping.dm
  code/datums/map_config.dm
  code/modules/power/roguelighting.dm
  code/rt.dm
  roguetown.dme
Labels: Test Merged

#689 The Queen is now called the Queen Consort. A coronated Queen Consort/Princess/other female becomes the Queen
  code/controllers/subsystem/rogue/treasury.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/vote.dm
  code/game/gamemodes/objective_items.dm
  code/game/gamemodes/roguetown/roguetown.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/rogueweapons/melee/special.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
  code/modules/jobs/job_types/roguetown/nobility/lord.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/living/carbon/human/death.dm
Labels: Test Merged

#685 Adds mentorhelp
  code/controllers/configuration/entries/general.dm
  config/config.txt
  interface/interface.dm
Labels: Test Merged

#687 Ghosts move up and down
  code/_onclick/hud/ghost.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/verbs/ghost.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/death.dm
  code/modules/mob/mob_movement.dm
  code/modules/underworld/underworld.dm
  roguetown.dme
Labels: Test Merged

#718 Give dwarf queen consorts a dress that fits
  code/modules/jobs/job_types/roguetown/nobility/lady.dm
Labels: Test Merged

#723 The Tailorening
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguecrafting/sewing.dm
Labels: Test Merged

#724 Candidate spirits
  code/__HELPERS/game.dm
  code/game/objects/items/holy_weapons.dm
  code/modules/antagonists/blob/powers.dm
  code/modules/antagonists/traitor/equipment/contractor.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
  code/modules/events/ghost_role.dm
  code/modules/events/holiday/xmas.dm
  code/modules/events/wizard/imposter.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/mob_helpers.dm
Labels: Test Merged

#704 Examining adventurers no longer tells you their class
  code/modules/mob/living/carbon/human/examine.dm
Labels: Test Merged

#686 Make adminwho an admin verb
  code/modules/admin/admin_verbs.dm
  code/modules/admin/holder2.dm
  code/modules/client/client_procs.dm
  code/modules/client/verbs/who.dm
Labels: Test Merged

#731 SEVERS THE DIVINE LIGHT
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/roguetown.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/shirts.dm
  code/modules/jobs/job_types/roguetown/adventurer/adventurer.dm
  code/modules/jobs/job_types/roguetown/adventurer/pilgrim.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/amazon.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/barbarian.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/warrior.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/blacksmith.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/carpenter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/cheesemaker.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/fisher.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/hunter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/miner.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/monk.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/peasant.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lcarp.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lmason.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lwoodcut.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/woodcutter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/nakedandafraid.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/torso.dm
  code/modules/jobs/job_types/roguetown/adventurer/villager.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/garrison/townguard.dm
  code/modules/jobs/job_types/roguetown/garrison/villagechief.dm
  code/modules/jobs/job_types/roguetown/peasants/beggar.dm
  code/modules/jobs/job_types/roguetown/peasants/butcher.dm
  code/modules/jobs/job_types/roguetown/peasants/cook.dm
  code/modules/jobs/job_types/roguetown/peasants/grabber.dm
  code/modules/jobs/job_types/roguetown/peasants/gravedigger.dm
  code/modules/jobs/job_types/roguetown/peasants/nightman.dm
  code/modules/jobs/job_types/roguetown/peasants/prisoner.dm
  code/modules/jobs/job_types/roguetown/serfs/apothecary.dm
  code/modules/jobs/job_types/roguetown/serfs/barkeep.dm
  code/modules/jobs/job_types/roguetown/serfs/blacksmith.dm
  code/modules/jobs/job_types/roguetown/serfs/mason.dm
  code/modules/jobs/job_types/roguetown/youngfolk/shophand.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/aasimar.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/other/halforc.dm
  config/game_options.txt
  roguetown.dme
  strings/rt/names/other/halforcf.txt
  strings/rt/names/other/halforcm.txt
Labels: Test Merged

#735 What Cant Go Wrong.
  code/__DEFINES/weaponsounds.dm
  code/game/objects/items/rogueitems/ropechainbola.dm
  code/game/objects/items/rogueweapons/melee/flail.dm
  code/modules/jobs/job_types/roguetown/garrison/dungeoneer.dm
  code/modules/roguetown/roguecrafting/leather.dm
  icons/mob/inhands/weapons/melee_lefthand.dmi
  icons/mob/inhands/weapons/melee_righthand.dmi
  icons/mob/roguehud.dmi
  icons/roguetown/weapons/32.dmi
  sound/combat/wooshes/whip_crack1.ogg
  sound/combat/wooshes/whip_crack2.ogg
  sound/combat/wooshes/whip_crack3.ogg
Labels: Test Merged

#776 Adds a new Royal Crypt under the Keep plus map fixes. Try tree, kill me.
  _maps/map_files/blackstone/blackstone.dmm
Labels: Mapping, DO NOT MERGE

#781 Adds a salt mine
  _maps/map_files/blackstone/blackstone.dmm
Labels: DO NOT MERGE

#736 removes recently added Lifeweb sprites
  icons/roguetown/rav/map_project/circus.dmi
  icons/roguetown/rav/map_project/creatures.dmi
  icons/roguetown/rav/map_project/decals.dmi
  icons/roguetown/rav/map_project/fence.dmi
  icons/roguetown/rav/map_project/floors.dmi
  icons/roguetown/rav/map_project/fluff_items.dmi
  icons/roguetown/rav/map_project/gate.dmi
  icons/roguetown/rav/map_project/gunrack.dmi
  icons/roguetown/rav/map_project/pillars.dmi
  icons/roguetown/rav/map_project/spookystatues.dmi
  icons/roguetown/rav/obj/alien.dmi
  icons/roguetown/rav/obj/bigbed2.dmi
  icons/roguetown/rav/obj/bowl.dmi
  icons/roguetown/rav/obj/cult.dmi
  icons/roguetown/rav/obj/doors/door_prison.dmi
  icons/roguetown/rav/obj/furniture.dmi
  icons/roguetown/rav/obj/mining.dmi
  icons/roguetown/rav/obj/poop.dmi
  icons/roguetown/rav/obj/storage.dmi
  icons/roguetown/rav/obj/structures/bigstatues.dmi
  icons/roguetown/rav/obj/structures/crafts.dmi
  icons/roguetown/rav/obj/structures/engine.dmi
  icons/roguetown/rav/obj/structures/fireplace.dmi
  icons/roguetown/rav/obj/structures/fountain.dmi
  icons/roguetown/rav/obj/structures/miscobjs.dmi
  icons/roguetown/rav/obj/structures/prayer.dmi
  icons/roguetown/rav/obj/structures/sewers.dmi
  icons/roguetown/rav/obj/tanning.dmi
  icons/roguetown/rav/things.dmi
  icons/roguetown/rav/things2.dmi
  icons/roguetown/rav/things3.dmi
  icons/roguetown/rav/turf/floors/floors.dmi
  icons/roguetown/rav/turf/seolitewall.dmi
  icons/roguetown/rav/turf/stonewalls.dmi
  icons/roguetown/rav/turf/wall.dmi
  icons/roguetown/rav/turf/walls2.dmi
Labels: DO NOT MERGE

#705 Gives admins the TG ghost menu (reopened to fix files changed)
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ghost.dm
  code/modules/admin/admin_verbs.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/dead/observer/observer.dm
Labels: Test Merged

#814 Round end screen change
  icons/fullblack.dmi
Labels: Test Merged

#785 Replaces OOC in IC with schizophrenia
  code/__DEFINES/preferences.dm
  code/game/machinery/computer/prisoner/management.dm
  code/modules/admin/verbs/pray.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/admin/verbs/schizohelp.dm
  code/modules/client/client_procs.dm
  code/modules/client/preferences.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/stress.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/say.dm
  code/modules/spells/roguetown/cleric.dm
  roguetown.dme
Labels: DO NOT MERGE

#836 Edits to default shirt and round end screen sprites
  icons/fullblack.dmi
  icons/roguetown/clothing/cloaks.dmi
  icons/roguetown/clothing/onmob/cloaks.dmi
  icons/roguetown/clothing/shirts.dmi
Labels: Test Merged

#834 Goblin update!
  _maps/map_files/blackstone/blackstone.dmm
  code/game/objects/effects/landmarks.dm
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/jobs/job_types/roguetown/goblin/goblincook.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinguard.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinking.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinsmith.dm
  code/modules/mob/living/carbon/human/species_types/roguetown/goblin/goblinp.dm
  code/modules/roguetown/roguecrafting/leather.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  icons/roguetown/clothing/onmob/armor.dmi
  icons/roguetown/clothing/onmob/head.dmi
Labels: Mapping, DO NOT MERGE

#830 Paladin Tabards, Matching Templar update
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/donator/paladin.dm
Labels: Test Merged

#805 Misogyny lore v2
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/roguetown/church/confessor.dm
  code/modules/jobs/job_types/roguetown/church/monk.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/church/puritan.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/garrison/dungeoneer.dm
  code/modules/jobs/job_types/roguetown/garrison/gatemaster.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/garrison/townguard.dm
  code/modules/jobs/job_types/roguetown/garrison/veteran.dm
  code/modules/jobs/job_types/roguetown/garrison/villagechief.dm
  code/modules/jobs/job_types/roguetown/mercenaries/desertrider.dm
  code/modules/jobs/job_types/roguetown/mercenaries/grenzelhoft.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/sheriff.dm
  code/modules/jobs/job_types/roguetown/other/deathknight.dm
  code/modules/jobs/job_types/roguetown/other/skeleton.dm
  code/modules/jobs/job_types/roguetown/other/tester.dm
  code/modules/jobs/job_types/roguetown/peasants/bathmaid.dm
  code/modules/jobs/job_types/roguetown/peasants/beggar.dm
  code/modules/jobs/job_types/roguetown/peasants/butcher.dm
  code/modules/jobs/job_types/roguetown/peasants/butler.dm
  code/modules/jobs/job_types/roguetown/peasants/jester.dm
  code/modules/jobs/job_types/roguetown/peasants/nightman.dm
  code/modules/jobs/job_types/roguetown/peasants/soilson.dm
  code/modules/jobs/job_types/roguetown/serfs/archivist.dm
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
  code/modules/mob/dead/new_player/new_player.dm
Labels: DO NOT MERGE

#818 [FEATURE] Real Taxes
  code/controllers/subsystem/rogue/treasury.dm
Labels: Test Merged

#737 Stockpile adjustments
  code/modules/hydroponics/grown/apple.dm
  code/modules/roguetown/roguejobs/cook/ingredients/meat.dm
  code/modules/roguetown/roguejobs/cook/ingredients/misc.dm
  code/modules/roguetown/roguejobs/miner/tools.dm
  code/modules/roguetown/roguestock/stockpile.dm
Labels: Test Merged

#847 The Court Physician Arrives!
  _maps/map_files/blackstone/blackstone.dmm
  code/__DEFINES/jobs.dm
  code/game/objects/effects/landmarks.dm
  code/modules/jobs/job_types/roguetown/nobility/physician.dm
  code/modules/jobs/jobs.dm
  roguetown.dme
Labels: Mapping, Test Merged

#848 Makes crossbows rarer, and changes their purpose in the ranged meta
  code/game/objects/items/rogueweapons/ranged/ammo.dm
  code/game/objects/items/rogueweapons/ranged/crossbows.dm
  code/modules/antagonists/roguetown/villain/bandit.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/bard.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rare/sentinel.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/combat/rogue.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/blacksmith.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/hunter.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/crusader.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/torso.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/special/whitecheesemaker.dm
  code/modules/jobs/job_types/roguetown/church/templar.dm
  code/modules/jobs/job_types/roguetown/garrison/bogguard.dm
  code/modules/jobs/job_types/roguetown/garrison/bogmaster.dm
  code/modules/jobs/job_types/roguetown/garrison/manorguard.dm
  code/modules/jobs/job_types/roguetown/nobility/bailiff.dm
  code/modules/jobs/job_types/roguetown/nobility/steward.dm
  code/modules/jobs/job_types/roguetown/serfs/merchant.dm
  code/modules/jobs/job_types/roguetown/youngfolk/prince.dm
  code/modules/jobs/job_types/roguetown/youngfolk/squire.dm
Labels: Test Merged

#854 Limit Death Knight summons, remove necromancers
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  roguetown.dme
Labels: Test Merged

#837 Takyon's Blacksmith Aprons
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/blacksmith.dm
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/rare/Lsmith.dm
  code/modules/jobs/job_types/roguetown/goblin/goblinsmith.dm
  code/modules/jobs/job_types/roguetown/serfs/blacksmith.dm
  code/modules/roguetown/roguecrafting/leather.dm
Labels: Test Merged

#915 Updates to dungeon map
  _maps/map_files/blackstonemapgen/80dungeon1.dmm
  code/modules/roguetown/mapgen/bog.dm
Labels: Mapping

#905 A second attempt at the mystery of the disappearing king.
  code/game/gamemodes/roguetown/roguetown.dm
  code/modules/jobs/jobs.dm
Labels: Test Merged

#916 Checkdefense re-write
  code/modules/mob/living/roguetownprocs.dm
Labels: Test Merged

#966 Medical "Rework" Part 1: Unretardifying /datum/wound
  code/__DEFINES/admin.dm
  code/__DEFINES/mobs.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/hud/screen_objects.dm
  code/_onclick/item_attack.dm
  code/_onclick/other_mobs.dm
  code/datums/skills/misc.dm
  code/datums/wounds.dm
  code/datums/wounds/_wound.dm
  code/datums/wounds/arteries.dm
  code/datums/wounds/bites.dm
  code/datums/wounds/bruises.dm
  code/datums/wounds/dismemberment.dm
  code/datums/wounds/fractures.dm
  code/datums/wounds/punctures.dm
  code/datums/wounds/slashes.dm
  code/datums/wounds/special.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/rogueitems/natural/clothfibersthorn.dm
  code/game/objects/items/rogueitems/needle.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/roguetown/villain/vampire.dm
  code/modules/antagonists/roguetown/villain/vampirelord.dm
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/feet.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/pants.dm
  code/modules/clothing/rogueclothes/wrists.dm
  code/modules/jobs/job_types/roguetown/church/priest.dm
  code/modules/jobs/job_types/roguetown/nobility/physician.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/carbon/wounds.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/grabbing.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/topic.dm
  code/modules/mob/living/wounds.dm
  code/modules/mob/roguetransform.dm
  code/modules/spells/roguetown/cleric.dm
  code/modules/spells/roguetown/necromancer.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/bodypart_dismemberment.dm
  code/modules/surgery/bodyparts/bodypart_wounds.dm
  code/modules/surgery/bodyparts/head.dm
  roguetown.dme
Labels: Test Merged

#938 Guard hood code
  code/modules/clothing/rogueclothes/cloaks.dm
  code/modules/jobs/job_types/roguetown/nobility/sheriff.dm
  icons/roguetown/clothing/onmob/detailed/tabards.dmi
Labels: help wanted, DO NOT MERGE

#972 Chests, ores and bowl resprited
  code/modules/roguetown/roguejobs/miner/rogueores.dm
  icons/roguetown/items/cooking.dmi
  icons/roguetown/items/ore.dmi
  icons/roguetown/misc/structure.dmi
Labels: help wanted, Spriting

#947 [REWORK] Randomly Generated Sewers - Maintenance edition
  _maps/map_files/blackstone/blackstone.dmm
  _maps/map_files/templates/sewers/sewers_bottom_1.dmm
  _maps/map_files/templates/sewers/sewers_bottom_2.dmm
  _maps/map_files/templates/sewers/sewers_bottomleft_1.dmm
  _maps/map_files/templates/sewers/sewers_bottomleft_2.dmm
  _maps/map_files/templates/sewers/sewers_bottomleft_3.dmm
  _maps/map_files/templates/sewers/sewers_bottomright_1.dmm
  _maps/map_files/templates/sewers/sewers_bottomright_2.dmm
  _maps/map_files/templates/sewers/sewers_centre_1.dmm
  _maps/map_files/templates/sewers/sewers_centre_2.dmm
  _maps/map_files/templates/sewers/sewers_right_1.dmm
  _maps/map_files/templates/sewers/sewers_right_2.dmm
  _maps/map_files/templates/sewers/sewers_top_1.dmm
  _maps/map_files/templates/sewers/sewers_top_2.dmm
  _maps/map_files/templates/sewers/sewers_topleft_1.dmm
  _maps/map_files/templates/sewers/sewers_topleft_2.dmm
  _maps/map_files/templates/sewers/sewers_topleft_3.dmm
  _maps/map_files/templates/sewers/sewers_topleft_4.dmm
  _maps/templates/sewers.dm
  code/controllers/subsystem/rogue/roguemachine.dm
  roguetown.dme
Labels: Mapping

#1019 arrow proofing
  code/modules/clothing/rogueclothes/armor.dm
  code/modules/clothing/rogueclothes/gloves.dm
  code/modules/clothing/rogueclothes/hats.dm
  code/modules/clothing/rogueclothes/mask.dm
  code/modules/clothing/rogueclothes/neck.dm
  code/modules/clothing/rogueclothes/pants.dm
Labels: Test Merged

#1030 New king announcement sounds
  code/controllers/subsystem/communications.dm
  code/modules/roguetown/roguemachine/titan.dm
  sound/misc/new_law.ogg
  sound/misc/new_law2.ogg
  sound/misc/royal_decree.ogg
  sound/misc/royal_decree2.ogg
Labels: Test Merged

#1004 Blacksmith changes
  code/modules/jobs/job_types/roguetown/adventurer/types/pilgrim/blacksmith.dm
  code/modules/jobs/job_types/roguetown/serfs/blacksmith.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/_anvil_recipe.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/valuables.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
Labels: hallowed

#1052 Moved Court phys and Kings bedroom, also map fixes :)
  _maps/map_files/blackstone/blackstone.dmm
Labels: Mapping

#1057 Adds additional database admin tools, fixes one-shot book creation
  code/controllers/subsystem/librarian.dm
  code/game/objects/items/rogueitems/books.dm
  code/modules/admin/admin_verbs.dm
Labels: Test Merged

#1041 QOL for Blacksmith crafting.
  code/modules/roguetown/roguejobs/blacksmith/anvil.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/_anvil_recipe.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/armor.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/tools.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/valuables.dm
  code/modules/roguetown/roguejobs/blacksmith/anvil_recipes/weapons.dm
Labels: Test Merged

#1007 Expansion of the Steward Import
  code/modules/roguetown/roguestock/import.dm
Labels: Test Merged

#790 Bounty system fixes and changes
  code/__DEFINES/roguetown.dm
  code/datums/mind.dm
  code/modules/antagonists/roguetown/villain/bandit.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/roguetown/roguemachine/bounty.dm
Labels: DO NOT MERGE
